@import url(./fectum-BS.css);
.App {
  text-align: center;
  background-color: #070D21;
}
*{word-break: break-word !important;}
iframe{display: none;}
/* *{
  color: #f4f4f4;
} */
a, p, button {
  font-size: 15px;
  font-weight: 500;
  color: #f4f4f4;
}
a:hover{color: #9b9b9b !important}
h1,h2,h3,h4,h5,h6,
input{ color: #f4f4f4; }
a{text-decoration: none !important;}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.btn {
  background: #33B8B8;
  padding: 8px 35px;
  border: 2px solid #33B8B8 !important;
  border-radius: 5px;
  text-shadow: 0px 2px rgb(0 0 0 / 40%);
  transition-duration: 0.5s;
  outline: unset !important;
  display: inline-block;
  box-shadow: 0 0 5px 0 #33B8B8, 
              0 0 13px 0 #33B8B8, 
              0 0 3px 0 #33B8B8;
}
.btn:hover {
  background: #FF58B1;
  border: 2px solid #FF58B1 !important;
  box-shadow: 0 0 6px 0 #FF58B1, 
              0 0 15px 0 #FF58B1, 
              0 0 4px 0 #FF58B1;
  color: #f4f4f4 !important;
  transition-duration: 0.6s;
}

.btn2 {
  background: #FF58B1;
  padding: 8px 35px;
  border: 2px solid #FF58B1 !important;
  border-radius: 5px;
  text-shadow: 0px 2px rgb(0 0 0 / 40%);
  transition-duration: 0.5s;
  outline: unset !important;
  display: inline-block;
  box-shadow: 0 0 5px 0 #FF58B1, 
              0 0 13px 0 #FF58B1, 
              0 0 3px 0 #FF58B1;
}
.btn2:hover {
  background: #33B8B8;
  border: 2px solid #33B8B8 !important;
  box-shadow: 0 0 6px 0 #33B8B8, 
              0 0 15px 0 #33B8B8, 
              0 0 4px 0 #33B8B8;
  color: #f4f4f4 !important;
  transition-duration: 0.6s;
}
.LT---text--green{ color: #33B8B8 !important; }
.LT---text--pink{ color: #FF58B1 !important;}
.LT---Heading{
  position: relative;
  z-index: 2;
}

.LT---Heading span{
  position: absolute;
  z-index: -1;
  color: #1E3142;
  left: 25px;
  bottom: 10px;
  font-size: 55px;
}

@media screen and (max-width: 599px) {
  .LT---Heading h2{ font-size: 27px; }
}
@media screen and (max-width: 650px) {
  .LT---Heading span{ font-size: 35px; }
}
@media screen and (max-width: 374px) {
  .LT---Heading span{ left: 10px; font-size: 30px; }
}
/**************************************
*
*  Header Styling start
*
**************************************/
.LT---header--wrapper{
  background-image: url(./images/header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.LT---header--wrapper h1{
  font-size: 43px;
  line-height: 50px;
  font-weight: 800;
}

@media screen and (max-width: 899px) {
  .LT---header--wrapper h1{ font-size: 35px; line-height: 35px; }
}
@media screen and (max-width: 599px) {
  .LT---header--wrapper h1{ font-size: 28px; line-height: 35px; }
}
@media screen and (max-height: 850px) {
  .LT---header--wrapper{ min-height: 100vh; }
}
/************ ---- End ************/

/**************************************
*
*  About Styling start
*
**************************************/
.LT---section--About{
  background-image: url(./images/about-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 599px) {
  .LT---section--About{ background-image: unset; }
}
/************ ---- End ************/

/**************************************
*
*  Features Styling start
*
**************************************/
.LT---Features--card{
  background-color: #18505B;
  border: 1px solid #18505B;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  padding-top: 1px;
  box-shadow: inset 0 0 40px 0 rgba(7, 13, 33, 0.5), 
              inset 0 0 100px 0 rgba(7, 13, 33, 0.5), 
              inset 0 0 25px 0 rgba(7, 13, 33, 0.5), 
                    0 0 10px 0 rgba(51, 184, 184, 0.12), 
                    0 0 25px 0 rgba(51, 184, 184, 0.12), 
                    0 0 6px 0 rgba(51, 184, 184, 0.12);
}

.LT---Features--card>div h4{
  min-height: 52px;
  font-weight: 700;
  font-size: 22px;
  color: #33B8B8;
}
.LT---features--bk-img{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: -1;
}
#features .LT---Features--card{max-width: 350px;}
.LT---Features--card>div p:nth-child(3){
  min-height: 140px
}
@media screen and (max-width: 599px){
  .LT---Features--card>div p:nth-child(3){
    min-height: unset
  }
}
@media screen and (min-width: 600) and (max-width: 793px){
  .LT---Features--card>div h4{
    min-height: 81px
  }
}
/************ Features End ************/

/**************************************
*
*  Transectionomics Styling start
*
**************************************/
.LT---section--tokenomics{
  background-image: url(./images/transectionomics.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.LT---transectionomics--border-right{
  text-align: right;
  border-right: 1px solid #33B8B8;
  padding: 20px 30px 20px 0;
  margin-right: -1px;
}
.LT---transectionomics--border-right p {
  max-width: 370px;
  margin-left: auto;
  margin-bottom: 0;
}
.LT---transectionomics--border-right p span,
  .LT---transectionomics--border-left p span{ color: #33B8B8 }
.LT---transectionomics--border-right h3::before,
  .LT---transectionomics--border-left h3::before{
  content: 's';
  font-size: 1px;
  color: transparent;
  background-color: #FF58B1;
  position:absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 12px;
  width: 12px;
  border-radius: 25px;
}
.LT---transectionomics--border-right h3::before{
  right: -36.5px;
}
.LT---transectionomics--border-left h3::before{
  left: -36.5px;
}
.LT---transectionomics--border-left p {
  max-width: 370px;
  margin-right: auto;
  margin-bottom: 0;
}
.LT---transectionomics--border-left{
  text-align: left;
  border-left: 1px solid #33B8B8;
  padding: 0 30px 20px 30px;
  margin-left: -1px;
}

@media screen and (max-width: 599px) {
  .LT---transectionomics--border-right h3::before{
    left: -36.5px;
  }
  .LT---transectionomics--border-right p {
    max-width: 370px;
    margin-right: auto;
    margin-left: unset;
    margin-bottom: 0;
  }
  .LT---transectionomics--border-right{
    text-align: left;
    border-left: 1px solid #33B8B8;
    border-right: unset;
    padding: 0 30px 20px 30px;
    margin-left: unset;
  }
  .LT---transectionomics--border-left { margin-left: 0px; }
  .LT---transectionomics--border-right h3::before{
    left: -36.5px;
    right: unset;
  }
}
/************ Transectionomics End ************/

/**************************************
*
*  --- Styling start
*
**************************************/
.LT--Dapp-Screen{
  background-color: #021526;
  min-height: 100vh;
}
.LT--Dapp-Screen p {
  color: #33B8B8;
  font-weight: 700;
  text-shadow: 0 0 3px rgb(0, 0, 0);
}
.LT--Dapp-Screen .MAG---input input{
  background: linear-gradient(#344351,#30404E);
  outline: none;
  border:none;
  border-radius: 8px;
  padding: 10px 100px 10px 20px;
  width: -webkit-fill-available;
}
.MAG---input{
  position: relative;
}
.MAG---input a,
.MAG---input button,
.MAG---input button:hover{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0 15px 0 0;
  background-color: unset;
  background-image: unset;
  border: 0px !important;
  font-weight: 700;
  cursor: pointer;
  box-shadow: none;
}
.LT--Dapp-Screen .red{
  background-image: linear-gradient(45deg, #253442, #2D3D4B);
  width: 60px;
  font-size: 12px;
  padding: 2px;
  border-radius: 6px;
  color: #FF6060;
}
.LT--Dapp-Screen .green{
  color: #4BF968;
}
.Global-main-menu-outer{
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
@media screen and (max-width: 899px) {
.Global-main-menu-outer{height: unset;position: unset;}
}
/************ ---- End ************/




/**************************************
*
*  --- Styling start
*
**************************************/

/************ ---- End ************/


.LT---404-container{
  background-image: linear-gradient(rgb(7, 13, 33), transparent, rgb(7, 13, 33) 90%), url("./images/workFlow-BK.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.LT---404{
  min-height: calc(100vh - 146px);
  display: flex;
  align-items: center;
}
.LT---404 h1{
  font-size: 100px;
  color: #33b8b8;
}

.LT---footer{
  background: #195560;
  border-top: 1px solid #195560;
  border-radius: 8px;
  box-shadow: inset 0 0 40px 0 rgba(7, 13, 33, 0.5), 
              inset 0 0 100px 0 rgba(7, 13, 33, 0.5), 
              inset 0 0 25px 0 rgba(7, 13, 33, 0.5), 
                    0 0 10px 0 rgba(51, 184, 184, 0.12), 
                    0 0 25px 0 rgba(51, 184, 184, 0.12), 
                    0 0 6px 0 rgba(51, 184, 184, 0.12);
}

.LT---cro{
  background: #0A2340;
  padding: 8px 35px;
  border: 2px solid #0A2340 !important;
  border-radius: 5px;
  text-shadow: 0px 2px rgb(0 0 0 / 40%);
  transition-duration: 0.5s;
  outline: unset !important;
  display: inline-block;
  font-size: 15px !important;
  box-shadow: 0 0 5px 0 #3773B9, 
              0 0 13px 0 #3773B9, 
              0 0 3px 0 #3773B9;
}
.LT---bsc{
  background: #F3BA2C;
  padding: 8px 35px;
  border: 2px solid #F3BA2C !important;
  border-radius: 5px;
  text-shadow: 0px 2px rgb(0 0 0 / 40%);
  transition-duration: 0.5s;
  outline: unset !important;
  display: inline-block;
  font-size: 15px !important;
  box-shadow: 0 0 5px 0 #FBB710, 
              0 0 13px 0 #FBB710, 
              0 0 3px 0 #FBB710;
}
.LT---WNT{
  background: #FF2D2D;
  padding: 8px 35px;
  border: 2px solid #FF2D2D !important;
  border-radius: 5px;
  text-shadow: 0px 2px rgb(0 0 0 / 40%);
  transition-duration: 0.5s;
  outline: unset !important;
  display: inline-block;
  font-size: 15px !important;
  box-shadow: 0 0 5px 0 #FF2D2D, 
              0 0 13px 0 #FF2D2D, 
              0 0 3px 0 #FF2D2D;
}
.LT---bridge-input input{
  width: -webkit-fill-available;
  max-width: 300px;
  padding: 5px 10px;
  background: #18505b;
  border: 0;
  outline: none;
  font-size: 16px;
}
.LT---bridge-input button{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: a;
  background: #18505b;
  border: 0;
  outline: none;
}